.navbar-nav li a {
    margin: 10px;
    font-size: 18px;
}

.cover-img {
    position: relative;
    opacity: .20;
}

.carousel-caption {
    position: absolute;
    color: white;
    height: 100%;
    padding-top: 23%;

}

.carousel-item {
    background-color: #000;
}

.carousel-text,
.question-text {
    padding: 60px;
    text-align: center;
}

.accordion {
    margin-left: 90px;
    margin-right: 90px;
}

.footer {
    background-color: #161616;
    color: white;
}

.footer p {
    text-align: center;
}

.footer-headding {

    text-align: center;
    padding-top: 60px;

}

.social {}