.navbar-nav li a {
    margin: 10px;
    font-size: 18px;
}

.cover-img {
    position: relative;
    opacity: .20;
}

.carousel-caption {
    position: absolute;
    color: white;
    height: 100%;
    padding-top: 23%;

}

.carousel-item {
    background-color: #000;
}

.carousel-text,
.question-text {
    padding: 60px;
    text-align: center;
}

.company-text {
    padding-bottom: 35px;
}


.footer {
    background-color: #161616;
    color: white;
    margin-top: 30px;
}

.footer p {
    text-align: center;
}

.footer-headding {

    text-align: center;
    padding-top: 60px;

}

.footer .social {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 60px;
    color: white;



}

.footer .social a {
    font-size: 16px;
    color: inherit;
    font-size: xx-large;
    display: inline-block;
    text-align: center;
    margin: 0px 8px;
    opacity: 0.7;
}

.footer .social a:hover {
    opacity: 0.9;
}