.navbar-nav li a {
    margin: 10px;
    font-size: 18px;
}

.cover-img {
    position: relative;
    opacity: .20;
}

.carousel-caption {
    position: absolute;
    color: white;
    height: 100%;
    padding-top: 23%;

}

.carousel-item {
    background-color: #000;
}